

@font-face {

  font-family:'NeoSansStd';

  font-style:normal;

  src:url('../fonts/NeoSansStd-Regular.ttf') format('truetype'),

  url('../fonts/NeoSansStd-Regular.woff2') format('woff2'),

  url('../fonts/NeoSansStd-Regular.woff') format('woff'),

  url('../fonts/neosansstd-regular.otf') format('truetype')

}



/*------- 

general style ------*/

* { 

	margin: 0; 

	padding: 0; 

}

:focus {outline: 0 !important;}

ul {padding: 0 ;margin: 0}

.btn {background: #de1271;color: #fff}

  .btn a{text-decoration:none;color: #fff!important;padding: 6px 12px;display: inline-block;}

  .btn:hover ,.btn a:hover , * a:hover{color: #d0d0d0!important;}

  .PR8 {padding-right: 8px}

html{height: 100%}

body{font-family:'NeoSansStd';color: #272727;overflow-x:hidden;height:100%;background: url(../images/home-bg.jpg) no-repeat center center fixed; 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;}
body.white-bg {background: url(../images/content-bg.jpg) no-repeat center center fixed; 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover; }

#page-wrap {min-height:100%;position:relative;}

header {display:block;position:relative;padding: 20px 0 0;text-align:center;transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-webkit-transition: -webkit-all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;}
.mobile-view header {display: none;}
.inner-header{  padding: 0;margin: 0;-ms-box-orient: horizontal;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -moz-flex;display: -webkit-flex;display: flex;-webkit-justify-content: space-around;justify-content: space-around;-webkit-flex-flow: row wrap;flex-flow: row wrap;-webkit-align-items: stretch;align-items: stretch;}

  header .logo {display:none;flex: 1;-webkit-flex: 1;-ms-flex: 1;-webkit-box-flex: 1;-moz-box-flex: 1;text-align: left;}
    header .logo img {width: 160px}

  header .mobile-menu {flex: 1;-webkit-flex: 1;-ms-flex: 1;-webkit-box-flex: 1;-moz-box-flex: 1;display: none;position: relative;}

    header .mobile-menu i{position:absolute;top:20px;width: 24px;height:24px;background: url(../images/food/menu.png) no-repeat 0 0}

     .ltr header .mobile-menu i{right:0}

     .rtl header .mobile-menu i{left: 0}

	header .nav-menu {flex: 4;-webkit-flex: 4;-ms-flex: 4;-webkit-box-flex: 4;-moz-box-flex: 4;text-align: right;}

		header .nav-menu li {display: inline-block;margin: 0 10px;font-size: 15px;padding-top: 32px;font-weight: bold;}

			header .nav-menu li a{text-decoration: none;color: #fff;line-height: 32px}

      header .nav-menu li a.active {position:relative;color: #8e8e8e}
      


      header.inside .nav-menu li a.active , header.outSide .nav-menu li a.active {position:relative;/*text-shadow:3px 1px 3px #DE1271*/; background-color:rgba(245, 245, 245, 0.09);color: #d0d0d0}
			
      header.inside .nav-menu li a.active:before , header.outSide .nav-menu li a.active:before{content:'';position: absolute;width: 100%;height: 5px;background: #d0d0d0;top: 0;left: 0}
      /*header .nav-menu li a.active:after {content:'';position: absolute;width: 100%;border-radius:6px;height: 5px;background: #fff;bottom: 0;left: 0}*/

      header .nav-menu li a:hover{color: #d0d0d0}

        header .nav-menu li.sub-menu {position:relative;}

				header .nav-menu li.sub-menu ul {margin: 10px -10px 0 0;display:none;width:290px;position:absolute;z-index:4;border-radius: 8px;padding:12px 20px;right: 0;text-align: left;background:#737373 /*#DE1271*/}

					header .nav-menu li.sub-menu ul:before {content: "";

                                                  display: block;

                                                  position: absolute;

                                                  top: -16px;

                                                  right: 18px;

                                                  border: 8px solid transparent;

                                                  border-bottom-width: 8px;

                                                  border-bottom-color: #737373;

                                                  width: 0;

                                                  height: 0;}

          header .nav-menu li.sub-menu ul.open {display:block;}

          /*header .nav-menu li.sub-menu:hover ul {display:block;}*/

            header .nav-menu li.sub-menu p {margin: 0;color: #fff;font-size: small;}

            header .nav-menu li.sub-menu input[type="text"]  ,header .nav-menu li.sub-menu input[type="password"]{width: 100%;border: none;border-radius: 4px;height: 24px;margin: 2px 0 8px;}

						header .nav-menu li.sub-menu input[type="submit"] {display:block/*;background: #fff!important;color:#DE1271*/;font-size: 14px;font-weight: bold;width: 60px;margin:auto;margin-top: 10px;border: 0;}

            header .nav-menu li.sub-menu li {line-height: 20px} 

            header .nav-menu li.setting ,header .nav-menu li.not-outSide {display: none;} 

           



footer {padding: 10px 0;width:100%;position:absolute;bottom:0;left:0;}

	.inner-footer {padding: 0;margin: 0;line-height:38px;color:#fff;-ms-box-orient: horizontal;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -moz-flex;display: -webkit-flex;display: flex;-webkit-justify-content: space-around;justify-content: space-around;-webkit-flex-flow: row wrap;flex-flow: row wrap;-webkit-align-items: stretch;align-items: stretch;}

	footer .copyRights {flex: 1;-webkit-flex: 1;-ms-flex: 1;-webkit-box-flex: 1;-moz-box-flex: 1;}

		footer .copyRights a{color: #CFCFCF;font-size: 14px;}

	footer .social-links  {flex: 1;-webkit-flex: 1;-ms-flex: 1;-webkit-box-flex: 1;-moz-box-flex: 1;text-align: right;}

		footer .social-links span{padding-right: 20px;font-size: 15px;}

		footer .social-links div {float: right;margin:6px 10px;background: url(../images/social.png);cursor: pointer;}

		footer .social-links div:first-child {margin-right:0px}

			footer .social-links div.fb {width:14px;height:26px;background-position:0 0;}

			footer .social-links div.inst {width:22px;height:24px;background-position:22px 0;}

			footer .social-links div.twit {width:26px;height:24px;background-position:77px 0;}

			footer .social-links div.youTube {width:26px;height:26px;background-position:50px 0;}

.page-content {padding:30px 0 60px;}

	.page-depth {border-bottom: 1px solid;padding-bottom: 14px;}

		.page-depth ul{margin: 0;padding: 0}

		.page-depth li {display: inline-block;margin-left: 1px;}

			.page-depth li a {display: inline-block;text-decoration: none;transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;font-size: 13px;line-height:14px;color: #222222;}

			.page-depth li a:hover {color: #666666;}

			.page-depth li:before {content: '';width:11px;height:12px;background:url(../images/food/icons.png)11px 0 ;float:left;margin:2px 3px 0 0;}

			.page-depth li:first-child:before {content: '';width:14px;background-position: 0 0;margin:1px 3px 0 0}

	.inner-page {padding: 40px 0 30px}

		.inner-page p {font-size: 16px;text-align: justify}

    .inner-page .side-bg-img {position: absolute;z-index:-1;top: 240px;right: -80px;transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out}

		#page-wrap.consumer .inner-page .side-bg-img {right:0px}



/*------- 

inside design ------*/

header.inside {position:fixed;z-index:2;top:0;width:100%;padding: 0;/*height: 140px;*/border-bottom: 1px solid #fff;background: url(../images/home-bg.jpg) no-repeat center center fixed; 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;}

header.inside.facebook {background: url(../images/facebook-bg.jpg); 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover; }

header.inside.twitter {background: url(../images/twitter-bg.jpg); 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover; }

header.inside.instagram {background: url(../images/inista-bg.jpg); 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover; }

header.inside.youtube {background: url(../images/youtube-bg.jpg); 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover; }

header.inside.google-plus {background: url(../images/pinter-bg.jpg); 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover; }

header.inside.foursquare {background: url(../images/square-bg.jpg); 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover; }



header.inside .logo {display: block;margin: 28px 0;} 

header.inside .nav-menu li.setting {display: inline-block;}

  header.inside .nav-menu li.not-inside  {display: none;}

  header.inside .nav-menu li.not-outSide  {display: inline-block}

  header.inside .nav-menu li  {padding-top: 0px;}

  header.inside .nav-menu li a {display:block;padding: 28px 8px;line-height: 49px}

  header.inside .nav-menu .acc-setting {line-height: 0px;top: 5px;padding: 20px 5px;font-size: 22px;}

  header.inside .nav-menu li.sub-menu ul{width: 240px} 

  header.inside .nav-menu li.sub-menu li{margin: 0} 

  header.inside .nav-menu li.sub-menu li a {line-height: 20px;padding:8px;font-size: 14px;} 

  header.inside .nav-menu li.sub-menu li a:hover {color:#d0d0d0;} 


/* load ---*/
#load{width:100%;height:100%;position:fixed;z-index:9999999999;background-color:#d0d0d0;}
      #load #loadx {position:relative;width:100px;height:100px;top:38%;margin:0px auto;overflow:hidden;}
      #load #loadx > img{position:absolute;width:100%;left:0px;top:0px;-webkit-filter: grayscale(0%);filter: grayscale(0%);
                          -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
                          animation: mymove 2s infinite;
                        }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes mymove {
       0% {-webkit-filter: grayscale(10%);filter: grayscale(10%);}
       30% {-webkit-filter: grayscale(30%);filter: grayscale(30%);}
       60% {-webkit-filter: grayscale(60%);filter: grayscale(60%);}
       100% {-webkit-filter: grayscale(90%);filter: grayscale(90%);}
  }

  @keyframes mymove {
       0% {-webkit-filter: grayscale(10%);filter: grayscale(10%);}
       30% {-webkit-filter: grayscale(30%);filter: grayscale(30%);}
       60% {-webkit-filter: grayscale(60%);filter: grayscale(60%);}
       100% {-webkit-filter: grayscale(90%);filter: grayscale(90%);}
  }

/* load ---*/
.page-content.inside {min-height:100%;padding-top: 140px;margin-left: 76px;color:#4C4C4C;font-size: 13px}

.page-tabs {width: 76px;position: fixed;z-index:2;left: 0;top: 140px;background: #f7f7f7;border-right:1px solid #dddddd }

  .page-tabs .tabs {}

    .page-tabs .tab-item {border-bottom: 1px solid #ddd;text-align: center;}

    .page-tabs .tab-item:first-child {background: #fff;}

      .page-tabs .tab-item a {display:inline-block}

      .page-tabs .tab-item i {display: block;vertical-align: middle;background: url(../images/tabs-icons2.png)0 0;transition: background-position 0.4s ease-in-out;

        -moz-transition: background-position 0.4s ease-in-out;-webkit-transition: background-position 0.4s ease-in-out;-o-transition: background-position 0.4s ease-in-out}

      .page-tabs .tab-item i.dashboard {width:50px;height:30px;background-position:52px -2px;}

        .page-tabs .tab-item i.dashboard:hover , .page-tabs .tab-item i.dashboard.active {background-position:52px -38px;}

      .page-tabs .tab-item i.face {width:29px;height:30px;background-position:0 -3px}

        .page-tabs .tab-item i.face:hover , .page-tabs .tab-item i.face.active {background-position: 0 -41px;}

      .page-tabs .tab-item i.twit {width: 36px;height: 30px;background-position: -34px -4px;}

        .page-tabs .tab-item i.twit:hover , .page-tabs .tab-item i.twit.active  {background-position: -34px -40px;}

      .page-tabs .tab-item i.insta {width:32px;height:33px;background-position:193px -1px;}

        .page-tabs .tab-item i.insta:hover , .page-tabs .tab-item i.insta.active {background-position:193px -39px;}

      .page-tabs .tab-item i.tube {width:36px;height:25px;background-position:158px -6px;}

        .page-tabs .tab-item i.tube:hover , .page-tabs .tab-item i.tube.active {background-position: 158px -41px;}

        .page-tabs .tab-item i.pinter {width:30px;height:30px;background-position:120px -4px}

        .page-tabs .tab-item i.pinter:hover , .page-tabs .tab-item i.pinter.active {background-position:120px -40px}

      /*.page-tabs .tab-item i.pinter {width:38px;height:38px;background-position: 72px -1px;}

        .page-tabs .tab-item i.pinter:hover , .page-tabs .tab-item i.pinter.active {background-position: 72px -43px}*/

      .page-tabs .tab-item i.square {width: 28px;height: 36px;background-position: 84px 0px;}

        .page-tabs .tab-item i.square:hover , .page-tabs .tab-item i.square.active {background-position:84px -37px;}





  

  footer.inside ,footer.outSide {position:relative;background: #e4e4e4;}
  footer.inside .copyRights  {padding-left: 62px}

    footer.inside .social-links , footer.outSide .social-links{display: none}

    footer.inside .copyRights a , footer.outSide .copyRights a{color: #6f6f6f}



/*------- 

outSide design ------*/



header.outSide {position:fixed;z-index:2;top:0;width:100%;padding: 0;border-bottom: 1px solid #fff;background: url(../images/home-bg.jpg)50% 480px fixed; 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;}

header.outSide .logo {display: block;;margin: 28px 0;}

  header.outSide .nav-menu li  {padding-top: 0px;}

  header.outSide .nav-menu li a {display:block;padding: 28px 8px;line-height: 49px}

   header.outSide .nav-menu li.sub-menu ul{top: 70px} 



  .page-content.outSide {min-height:100%;padding-top: 140px;background: #fff;padding-bottom: 0}



  .subsc-title , .contact-title {font-size: 24px ;color: #de1271;margin-bottom:18px;font-weight: bold;}

  form p  ,.control-label{color: #36247D;font-size:16px;margin-bottom: 2px;font-weight: bold}

  form input{color: #6f6f6f;margin-bottom: 14px;width: 100%;height:38px;border: 1px solid #acacab;border-radius: 4px; }

  form button[type="submit"] {color: #fff;font-size: 22px;font-weight: bold;width: 300px;line-height: 1.42857143;height: auto;padding: 10px;display: block;margin: 10px auto;}

  form#login-form button[type="submit"] {font-size: 18px;width: 180px;line-height: 30px}
  
  .form textarea {color: #6f6f6f;margin-bottom: 14px;width: 100%;height:80px;border: 1px solid #acacab;border-radius: 4px;} 

  .radio input[type=radio] {width: initial;height: initial}

  .radio {margin-left: 10px;    color: #6C6D6F;}

.btn.focus, .btn:focus, .btn:hover {color: #fff}




/*

        .page-tabs .tab-item i {display: block;vertical-align: middle;background: url(../images/tabs-icons.png)0 0;transition: all 0.4s ease-in-out;

        -moz-transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out}

      .page-tabs .tab-item i.face {width:36px;height:36px;background-position: 0 -5px;}

        .page-tabs .tab-item i.face:hover {width:36px;height:36px;background-position: 0 -53px;}

      .page-tabs .tab-item i.twit {width: 56px;height: 36px;background-position: -36px -5px;}

        .page-tabs .tab-item i.twit:hover {width: 56px;height: 36px;background-position: -36px -53px;}

      .page-tabs .tab-item i.insta {width:43px;height:43px;background-position: 177px -1px;}

        .page-tabs .tab-item i.insta:hover {width:43px;height:43px;background-position: 177px -49px;}

      .page-tabs .tab-item i.tube {width: 47px;height: 33px;background-position: 131px -5px;}

        .page-tabs .tab-item i.tube:hover {width: 47px;height: 33px;background-position: 131px -53px;}

      .page-tabs .tab-item i.pinter {width:43px;height:43px;background-position: 81px -1px;}

        .page-tabs .tab-item i.pinter:hover {width:43px;height:43px;background-position: 81px -48px;}

      .page-tabs .tab-item i.square {width: 33px;height: 46px;background-position: 33px 0px;}

        .page-tabs .tab-item i.square:hover {width: 33px;height: 46px;background-position: 33px 46px;}*/



  

/*------- 
home ------*/

.row.vdivide [class*='col-']:not(:last-child):after {

  background: #e0e0e0;

  width: 1px;

  content: "";

  display:block;

  position: absolute;

  top:0;

  bottom: 0;

  right: 0;

  min-height: 70px;

}

.logo-home {margin:48px 0;}

.about-hype {}

.about-hype p {color: #fff;padding: 30px;line-height: 24px}

.about-hype .get-start{font-size: 20px;width: 150px ;margin: 10px auto;display: block;}



/*------- media quiries ------*/

@media all and (max-width: 1182px) {

  /*header .nav-menu {display: none}

  .menuBtn , header .mobile-menu{display: block;}

  header.inside ,header.outSide {height: 118px !important}*/

  .logo img {width: 160px}

   header.inside .nav-menu li ,header.outSide .nav-menu li{font-size: 14px}

  header.inside .nav-menu li a ,header.outSide .nav-menu li a{line-height:49px}

}



@media all and (max-width: 992px) {

  /*header .logo {display: block;}*/

  

  .logo-home{text-align: center;}

.row.vdivide [class*='col-']:not(:last-child):after {display: none;}

.page-content.outSide {/*position: absolute;width: 100%*/}

.page-content.inside {margin-left: 0px}
.page-content.inside .inner-page {padding-left: 72px}



}

@media all and (max-width: 974px) {

  .inner-page .side-bg-img {display: none;}

  .rslides {margin: 0 auto} 

  .rslides_tabs {margin: 0 auto}

}

@media all and (max-width: 840px) {

  .news-list .news-list-img {margin: 0 auto 18px}

  .ltr .news-list .news-list-img ,.rtl .news-list .news-list-img {float:none;}

  .ltr .news-list .news-list-info , .rtl .news-list .news-list-info {margin: 0}

}



@media all and (max-width: 768px) {

  header .logo img {width: 128px}

  .left-part {overflow:hidden;flex: 1 100%;-webkit-flex: 1 100%;-ms-flex: 1 100%;-webkit-box-flex: 1 100%;-moz-box-flex: 1 100%;}

    .left-part img{width: 220px;top: -100px}

  .right-part {overflow:hidden;flex: 1 100%;-webkit-flex: 1 100%;-ms-flex: 1 100%;-webkit-box-flex: 1 100%;-moz-box-flex: 1 100%;border-bottom: 8px solid #920D12;}

    .right-part img{width: 220px;top: -4px}

  .desk {display: none;}

  .home-logo {width: 120px;top: 12px}

  .page-depth {display: none}

.inner-page{padding-top: 20px}

}



@media all and (max-width: 498px) {

  footer {padding: 0}

  footer .copyRights {text-align:center;flex: 1 100%;-webkit-flex: 1 100%;-ms-flex: 1 100%;-webkit-box-flex: 1 100%;-moz-box-flex: 1 100%;}

  footer .social-links{text-align:center;flex: 1 100%;-webkit-flex: 1 100%;-ms-flex: 1 100%;-webkit-box-flex: 1 100%;-moz-box-flex: 1 100%;}

    footer .social-links span {display:none;}

    footer .social-links div {float: none;display: inline-block;vertical-align: middle;}

}











.field{

  position: relative;

}

.field i{

  position: absolute;

  right: 10px;

  top: 34px;

  font-size: 18px;

  display: none;

}

form{

}

input, button, textarea{

  position: relative;

  -webkit-apprearance:none;

  -moz-apprearance:none;

  apprearance:none;

  margin: 0;

  padding:10px;

  font-size: 14px;

  margin-bottom: 10px;

  width: 100%;

  border:1px solid #C7C7C7;

  background-color: #fafafa;

  -webkit-transition:background-color .3s, border-color .4s;

  -moz-transition:background-color .3s, border-color .4s;

  -o-transition:background-color .3s, border-color .4s;

  transition:background-color .3s, border-color .4s;

}

textarea{

  height: 100px;

  resize:none;

}



input:focus, textarea:focus, input:hover, textarea:hover{

  outline:none;

  border-color: #777;

}

button{/*color: #fff;font-size: 24px;font-weight: bold;line-height: 26px;height: auto;padding: 10px;display: block;margin: 10px auto;*/

  display: block;

  border: none;

  background-color: #666;

  color: #fff;

  position: relative;

  height: 50px;

  line-height: 50px;

  padding: 0;

  -webkit-transition: all 0.3s;

  -moz-transition: all 0.3s;

  transition: all 0.3s;

  -webkit-transform-style: preserve-3d;

  -moz-transform-style: preserve-3d;

  transform-style: preserve-3d;

  cursor: pointer;

}

button:hover{

  background-color: #555;

}

button:before,

button:after{

  position: absolute;

  width: 100%;

  height: 100%;

  left: 0;

  line-height: 50px;

  cursor: default;

}

#btn {background: #de1271;color: #fff;border-radius:6px;font-size: 22px;font-weight: bold;width:320px;margin: 10px auto;}

  #btn a{text-decoration:none;color: #fff;padding: 6px 12px;display: inline-block;}

  #btn:hover ,#btn a:hover {color: #d0d0d0!important;}

/* --------------------------------------------------- */ 

/*  Rolling button style compliments of CodDrops.com

/* --------------------------------------------------- */ 

button:after{

  top:-100%;

  content:attr(data-success);

  background: #7aca7c;

  color: #358337;

  border-radius:6px;

  -webkit-transform-origin: 0% 100%;

  -webkit-transform: rotateX(90deg);

  -moz-transform-origin: 0% 100%;

  -moz-transform: rotateX(90deg);

  -ms-transform-origin: 0% 100%;

  -ms-transform: rotateX(90deg);

  transform-origin: 0% 100%;

  transform: rotateX(90deg);

}

button:before{

  top:100%;

  background: #e96a6a;

  color: #a33a3a;

  border-radius:6px;

  content:attr(data-error);

  -webkit-transform-origin: 0% 0%;

  -webkit-transform: rotateX(-90deg);

  -moz-transform-origin: 0% 0%;

  -moz-transform: rotateX(-90deg);

  -ms-transform-origin: 0% 0%;

  -ms-transform: rotateX(-90deg);

  transform-origin: 0% 0%;

  transform: rotateX(-90deg);

}



button.submit-success {

  background: #aaa;

  -webkit-transform-origin: 50% 100%;

  -webkit-transform: rotateX(-90deg) translateY(100%);

  -moz-transform-origin: 50% 100%;

  -moz-transform: rotateX(-90deg) translateY(100%);

  -ms-transform-origin: 50% 100%;

  -ms-transform: rotateX(-90deg) translateY(100%);

  transform-origin: 50% 100%;

  transform: rotateX(-90deg) translateY(100%);

}



button.submit-error  {

  background: #aaa;

  -webkit-transform-origin: 50% 0%;

  -webkit-transform: rotateX(90deg) translateY(-100%);

  -moz-transform-origin: 50% 0%;

  -moz-transform: rotateX(90deg) translateY(-100%);

  -ms-transform-origin: 50% 0%;

  -ms-transform: rotateX(90deg) translateY(-100%);

  transform-origin: 50% 0%;

  transform: rotateX(90deg) translateY(-100%);

}



/* --------------------------------------------------- */ 

/*  Validation Styles

/* --------------------------------------------------- */ 

.success{

  /*background-color: #EAFFF8;*/

  border: 1px solid #1C9D39  !important;

}

.success+i{

  color: #1C9D39;

  display: block;

}

.error+i{

  color: #B82020;

  display: block;

}

.error{

  /*background-color: #FFF1FF;*/

  border: 1px solid #b82020 !important;

}
/*------- 
insights ------*/

.authent {font-size: 20px;display: block;padding: 16px 27px;width: 288px;margin: 120px auto;border-radius: 12px}
.authent a {padding:0}
.authent:hover {color: #d0d0d0}
  .authent.dashboard , h3.internal-title.dashboard {background: #1c0f3a}
  .authent.facebook , h3.internal-title.facebook , table.facebook th {background: #4066ab}
  .authent.twitter , h3.internal-title.twitter, table.twitter th  {background: #25aae1}
  .authent.instagram, h3.internal-title.instagram , table.instagram th   {background: #125688}
  .authent.youtube , h3.internal-title.youtube , table.youtube th {background: #bd212e}
  .authent.google-plus , h3.internal-title.google-plus , table.google-plus th  {background: #db402c}
  .authent.foursquare , h3.internal-title.foursquare , table.foursquare th {background: #ee4978}

.growth-num {line-height: 130px;font-size: 24px}
table.dashboard th {color: #1c0f3a;font-size: 20px;background: transparent;}
table.dashboard tr {background: transparent;min-height: 100px}
table.dashboard td:nth-child(odd) ,table.dashboard td:nth-child(even) {border-right:.5px solid #d6d6d6}

  * li {list-style: none;}
  .adaptMarginSM {margin-top: 28px}
  .adaptMargin34 {margin-top: 34px}
  .small-title {font-weight: bold;text-transform: capitalize;}
  .internal-content {padding: 0 14px;margin-bottom: 40px;}
    .internal-content li{line-height: 26px}
table {width:94%;margin:auto;text-align: center;;margin-bottom: 40px}
table.adaptMargin{margin-top: 108px}
table tr{line-height: 24px;}
    tr:nth-child(odd){background: #d3d3d3;}
    tr:nth-child(even){background: #dedede;}
    td:nth-child(even){border-right: .5px solid #b3b3b3;}
    td:nth-child(odd){border-right: .5px solid #b3b3b3;}
    td:last-child{border-right: 0 !important}
table.facebook tr:last-child {border-bottom: 2px solid #4066ab}
table.youtube tr:last-child {border-bottom: 2px solid #bd212e}
table.twitter tr:last-child {border-bottom: 2px solid #25aae1}
  th{text-align: center;color: #fff;line-height: 32px;font-size: 14px;}
    th:first-child{border-radius:10px 0 0 0}
    th:last-child{border-radius:0 10px 0px 0}
  th.second , [colspan ~= '3']{background:#adadad!important;color: #fff;font-size: 15px}
    th.second {border-right: .5px solid #b3b3b3;}
    th.second:first-child{border-radius:0;}
    th.second:last-child{border-radius:0;border-right: 0}

.sprated-line{height: 1px;background: rgba(108, 109, 111, 0.5);margin:20px 0 60px;}

.post-item{margin-bottom: 60px;border-left: 1px solid #ececec;border-right: 1px solid #ececec;background-color: white;}
.date-time {padding: 0 14px}
  .date-time .date{display: block;float: left;line-height: 30px}
  .date-time .time{display: block;float: right;line-height: 30px}
.post-img {padding: 14px}
  .post-img img{width: 100%; min-height: 235px}

ul.graph-summery {padding:0 40px 40px;text-align: center}
li.special-height {height: 52px ;overflow: hidden;}
.page-content.inside a {color: #4C4C4C}
/*------- 
facebook insights ------*/

h3.internal-title {display: inline-block;
    line-height:34px;
    min-width: 400px;
    padding: 6px 14px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
  }
h3.internal-title.short {min-width:initial;}

h3.internal-title.noneBG {color:#6d6e71;font-size: 20px;}
h3.internal-title.circleChart-title {color:#6d6e71;font-size: 20px;text-align: center;display: block;}
.internal-title.sec-title {font-size: 24px;font-weight: bolder}
  .page-content.inside.dashboard .internal-title.sec-title {color: #1c0f3a}
	.page-content.inside.facebook .internal-title.sec-title {color: #4066ab}
	.page-content.inside.twitter .internal-title.sec-title {color: #25aae1}
	.page-content.inside.instagram .internal-title.sec-title {color: #125688}
	.page-content.inside.youtube .internal-title.sec-title {color: #bd212e}
	.page-content.inside.google-plus .internal-title.sec-title {color: #db402c}
	.page-content.inside.foursquare .internal-title.sec-title {color: #ee4978}

.sec-img {width: 60px;border-radius: 50%;float: left;margin-right: 10px;}



            .title-box h2{float: left;display: block;margin-right: 14px;} 
            .line-box {transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;width: 4%;background:rgba(108, 109, 111, 0.93);display: inline-block;height: 1px;margin: 34px 0 44px;}

            /*.page-content.inside.dashboard .line-box  {background:#1c0f3a }
            .page-content.inside.facebook .line-box  {background:#4066ab ;}
            .page-content.inside.twitter .line-box {background: #25aae1;}
            .page-content.inside.instagram .line-box {background: #125688 ;}
            .page-content.inside.youtube .line-box {background: #bd212e ;}
            .page-content.inside.google-plus .line-box {background: #db402c ;}
            .page-content.inside.foursquare .line-box {background:#ee4978 ;}*/
.glyphicon-arrow-up {color: green;margin-right:6px }
.glyphicon-arrow-down {color: red;margin-right:6px}
  
  .element-container{display: flex;text-align:center}

          .element-list {width: 120px ;display: inline-block;flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;}
          .element {
              display: inline-block;
              background-color: #fff;
              border:3px solid ;
              border-radius: 50%;
              height: 100px;
              width: 100px;
              font-size: 1px;
              padding: 1px;
              color: white;
              margin-right: 5px;
              margin-left: 5px;   
            }
            .element.up { animation: roll 3s;
                transform: rotate(0deg);}
            .element.down { animation: roll 3s;
                transform: rotate(-180deg);}
            .element.up .img {
              animation: rollBack 3s ;
                transform: rotate(0deg);
                padding: 25px;}

            .element.down .img {
              animation: rollBack 3s ;
                transform: rotate(-180deg);
                padding: 25px;}
            .element:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                background: transparent;
                position: absolute;
                border: 12px solid transparent;
                border-bottom-width: 12px;
                top: -24px;
                left: 0;
                right: 0;
                margin: auto;
            }
            .element.facebook {border-color: #4066ab;}
            .element.twitter {border-color: #25aae1;}
            .element.instagram {border-color: #125688;}
            .element.youtube {border-color: #bd212e;}

            .element.facebook:after {border-bottom-color: #4066ab;}
            .element.twitter:after {border-bottom-color: #25aae1;}
            .element.instagram:after {border-bottom-color: #125688;}
            .element.youtube:after {border-bottom-color: #bd212e;}

            .growth {}
              .growth p {text-align: center!important}
                .growth p.account-name {margin: 20px 0 0px;font-size: 14px;}
                .growth p.account-growth {font-size: 30px;font-weight: bold;}

            /*@keyframes roll {
              0% {
                transform: rotate(0);
              }
              100% {
                transform: rotate(360deg);
              }
            }
            @keyframes rollBack {
              0% {
                transform: rotate(0);
              }
              100% {
                transform: rotate(-90deg);
              }
            }*/

            .bold-title{font-size: 16px;font-weight: bold;}
            .rounded {    font-size: 16px;
    font-weight: bold;
    padding: 16px 10px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 56px;
    margin: 10px 0;}
            .rounded.facebook{background:#4066ab } 
            .rounded.twitter {background:#25aae1 } 
            .rounded.instagram{background:#125688 } 
            .rounded.youtube {background:#bd212e } 


            /*--- menu ----*/
            header.mobile {display: none;padding: 0}
            .mobile-view header.mobile {display:block!important;background-image:none;background-color: #fcffff;/*border: 5px solid #4d247c*/;border: 1px solid #4d247c;box-shadow: 1px 2px 4px #4d247c;}
            header.mobile .logo {display:block;flex: 1;-webkit-flex: 1;-ms-flex: 1;-webkit-box-flex: 1;-moz-box-flex: 1;margin:15px 0}
              header.mobile .logo img{width: 40px}
            header.mobile .icon {float: right;display: inline-block;flex: 1;-webkit-flex: 1;-ms-flex: 1;-webkit-box-flex: 1;-moz-box-flex: 1;}
             header.mobile .icon a {display: block;padding: 15px 0;line-height: 40px;font-size: 18px;text-decoration: none!important}
              header.mobile ul.menu-list {height:0;overflow:hidden;transition: height 0.2s ease-in-out;-moz-transition: height 0.2s ease-in-out;-webkit-transition: height 0.2s ease-in-out;-o-transition: height 0.2s ease-in-out;}
              header.mobile ul.menu-list li {display: none;margin: 0;}
              header.mobile .nav-menu li a {color: #4d247c}




              header.mobile ul.menu-list.responsive {position: relative;margin-top: 64px;height: 160px;}
                header.mobile ul.menu-list.responsive li {float: none;display: inline;}
                  header.mobile ul.menu-list.responsive li a {display: block;text-align: center;line-height: 20px;padding: 10px;}
                  header.mobile ul.menu-list.responsive li a.active {color:#da045f }
                  header.mobile ul.menu-list.responsive li a.active:before {display:none;}
            @media all and (max-width: 700px) {
              .page-content.outSide{padding-top:86px;}
              .logo-home {margin: 20px auto;width: 130px;}
              .logo-home img {width: 100%;}
              .subsc-title, .contact-title {font-size: 20px}
              form button[type="submit"] {width: 100%}
            }



.white-popup {
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: #FFF;
  padding: 20px;
  overflow-y:scroll ;
}
.white-popup button {position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    color: #555;
    background: #fff;
    font-size: 70px;}
.compNum{
  text-align: center;
    font-size: 22px;
    color: #6d6e71;
    font-weight: bold;
    line-height: 26px;    
    max-width: 180px;
    height: auto;
    padding: 10px;
    display: block;
    margin: 10px auto;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}
.comptitors {padding: 0 80px}
.compSocial li{text-align: left}
.compSocial label {text-align: left;color:#6d6e71;display: block;font-size: 13px}
.compSocial input {height: 30px;color: #000}
.modal-title{text-align: center;
  color: #fff!important;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;    
    max-width: 180px;
    height: auto;
    padding: 10px;
    display: block;
    margin: 10px auto;
    background-color: #de1271;
    border-radius: 4px;}
.modal-dialog {width: 100%!important;margin: 0}
.modal-open .modal {width: 100%!important;padding: 0!important;height: 100%!important}
.close {width: 50px;background: none;font-size: 62px;font-weight:100;float: none;position: absolute;right: 20px}
.modal-header {border-bottom: 0px}
.subsc-modal-title{text-align: center;
    font-size: 24px;
    color: #de1271;
    margin: 40px 0 18px;
    font-weight: bold;}
.modal-footer{text-align: center;}
.btn-primary{max-width: 248px;
    margin: auto;
    font-size: 21px;
    border: none;}
.dummyChart {width: 400px;height: 400px;text-align: center;margin: auto;}
.dummy-img {width: 80%;margin: auto;}
.dummy-img img{width: 100%}
.addCompatitors {position: absolute;
    top: 41%;
    left: 0;
    right: 0;
    text-align: center;}
#competitors-form {min-height: 99vh} 